.card:hover .card-icon {
    transform: scale(0.8);
}

input::placeholder {
    color: var(--color-input-placeholder);
}

.pulse {
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.7;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Overlay */
.overlay {
    position: fixed;
    inset: 0;
    background: var(--overlay-bg);
    display: grid;
    place-items: center;
    z-index: 9999;
}

/* Spinner */
.spinner {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
}

.spinner::after,
.spinner::before {
    content: '';
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #FFF;
    position: absolute;
    left: 0;
    top: 0;
    animation: animspinner 2s linear infinite;
}

.spinner::after {
    animation-delay: 1s;
}

@keyframes animspinner {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

/* Pulsing Animation */
.pulsatingDot {
    animation: pulseDot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    background-color: var(--color-success);
    border-radius: 50%;
    box-sizing: border-box;
    height: 7px;
    width: 7px;
}

.pulsatingDot:before {
    animation: pulseRing 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    background-color: var(--color-success);
    border-radius: 45px;
    content: '';
    display: block;
    height: 300%;
    left: -100%;
    position: relative;
    top: -100%;
    width: 300%;
}

@keyframes pulseRing {
    0% {
        transform: scale(.5);
    }

    80%,
    100% {
        opacity: 0;
    }
}

@keyframes pulseDot {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}